.aboutContainer {
    display: flex;
    justify-content: center;


    gap: 10px;

}

.imagePotrait {

    width: 100%;
}

.imagePotrait {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}



.textContainer {
    display: flex;
    gap: 10%;
}


.aboutSubContainer {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 80%;
}

.subTextContainer {
    width: 50%;
}


@media only screen and (max-width: 800px) and (min-width: 310px) {
    .imagePotrait {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutSubContainer {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 3%;
        width: 80%;
    }

    h2 {
        font-size: 3vw;
    }

    p {
        font-size: 1.6vw;
    }

    .ImageAvatar {
        width: 60%;
        height: 90%;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 800px) {
    .imagePotrait {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutSubContainer {
        height: auto;
        display: flex;
        justify-content: center;

        margin-top: 3%;
        width: 80%;
    }

    .textContainer {
        width: 100%;
    }

    h2 {
        font-size: 1.7vw;
    }

    p {
        font-size: 1.2vw;
    }

    .ImageAvatar {
        width: 70%;
        height: 80%;
    }


}