*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.link-pages {
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    background: black;
}

.li-text {
    margin-left: 3px;
}

li p {
    font-size: 18px;
    font-weight: bold;
}

.link-pages,
.Text-Pos-H1,
.Text-Pos-P,
button.next,
button.prev {
    z-index: 2;
    position: absolute;
}

.link-pages,
.carousel-slide>img,
.TextInfoCon,
.footerAdjustment,
.newsFeed {
    width: 100%;
}

.link-pages,
.TextAdjust,
.socialContainer,
.TextInfoCon,
.footerflex,
.newsFeed,
.footerAdjustment {
    display: flex;
}

.inpGmail,
.subscribeNewsBut {
    color: white;
    border: 3px solid rgba(53, 53, 53, 1);
}

.carousel-slide>img {
    height: 85vh;
    position: relative;
    text-decoration: none;
    object-position: center;
    object-fit: cover;
}

li {
    list-style: none;
}

.Text-Pos-H1,
.Text-Pos-P {
    transform: translateY(50%);
    top: 33.5%;
}

.Text-Pos-H1 {
    margin-top: 0;
    font-size: 4rem;
}

.Text-Pos-P {
    margin-top: 83.5px;
    font-size: 2rem;
}

.TextAdjust {
    justify-content: center;
    color: white;
}

button.next,
button.prev {
    height: 5vh;
    top: 45%;
    transform: translateY(50%);
}

.next {
    right: 1rem;
}

.prev {
    left: 1rem;
}